// --> Variables

$text-dark: black;
$text-light: white;
$primary: #000;
$secondary: lightgrey;
$background: rgb(61,61,184);
$background: linear-gradient(0deg, rgba(61,61,184,1) 0%, rgba(0,164,255,1) 100%);
$footer-height: 30px;

// --> Global

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: $primary;
  background: $background;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.dark-theme {
  color-scheme: dark;
  $background: #000;
  $primary: rgba(255, 255, 255, 0.87);
  $secondary: lightgrey;
}


// --> Main with content

.app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1280px;
  min-height: 100vh;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.main {
  width: 100%;
}

// --> Sections

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#home {
}

#contact {
}

// --> Header

.header {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 16px;
  gap: 32px;
  position: sticky;
  top: 0;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.toggle-button {
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  background-color: $secondary;
  transition: .3s;
  cursor: pointer;
}

.toggle-button:hover {
  border-color: #646cff;
}

.toggle-button:focus,
.toggle-button:focus-visible {
  outline: none;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.socials a {
  display: block;
  text-decoration: none;
}

.icon {
  height: 28px;
  width: 28px;
  transition: .2s;
  filter: invert(90%);
}

.icon:hover {
  scale: 1.1;
  filter: invert(33%) sepia(11%) saturate(1975%) hue-rotate(157deg) brightness(103%) contrast(90%);

}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
  margin-right: 12px;
}

.navbar a {
  display: block;
  text-wrap: nowrap;
}

.navbar a::after {
  content:"\A";
  width:10px;
  height:10px;
  border-radius:50%;
  background: white;
  display:inline-block;
  margin-left: 10px;
  margin-right: -4px;
}

.line {
  position: absolute;
  top: 100px;
  height: 240px;
  border-right: 2px solid white;
}

// --> Footer
footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

footer p {
  margin: 0;
  color: white;
}

// --> Scrollbar 

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background: $background; 
}

::-webkit-scrollbar-thumb {
  background: #ebebeb; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}


// --> Media

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
